.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.nav {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  background: var(--gray);
}

.nav a {
  text-align: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
  color: inherit;
  text-decoration: none;
  font-weight: 900;
}

/* EX 1 */
.parent.ex1 {
  display: grid;
  place-items: center;

  background: lightblue;
  width: 500px;
  height: 500px;

  resize: both;
  overflow: auto;
}

.child.ex1 {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}

/* EX 2 */
.parent.ex2 {
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.child.ex2 {
  /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
  /* If we don't want the items to stretch: */
  flex: 0 1 300px;
  /* If we do want the items to stretch: */
  flex: 1 1 300px;

  /* etc. */
  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}

/* EX 3 */
body.ex3 {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.sidebar.ex3 {
  height: 100vh;

  /*  etc. */
  background: lightpink;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.content.ex3 {
  padding: 2rem;
  font-size: 2rem;
}

/* EX 4 */
body.ex4 {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

header.ex4 {
  background: lightpink;
  padding: 2rem;
  color: #000;
}

main.ex4 {
  background: coral;
}

footer.ex4 {
  background: wheat;
  padding: 2rem;
  text-align: center;
  color: #000;
}

/* EX 5 */
body.ex5 {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  color: #000;
}

header.ex5 {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-sidebar.ex5 {
  background: lightblue;
  grid-column: 1 / 2;
}

main.ex5 {
  background: coral;
  grid-column: 2 / 3;
}

.right-sidebar.ex5 {
  background: yellow;
  grid-column: 3 / 4;
}

footer.ex5 {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar.ex5 {
  padding: 1rem;
}

/* Ex 6 */
body.ex6 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}


div.ex6 {
  display: grid;
  place-items: center;
}

.span-12.ex6 {
  background: lightpink;
  grid-column: 1 / 13;
}

.span-6.ex6 {
  background: lightblue;
  grid-column: 1 / 7;
}

.span-4.ex6 {
  background: coral;
  grid-column: 4 / 9;
}

.span-2.ex6 {
  background: yellow;
  grid-column: 3 / 5;
}
